<dx-data-grid
  id="grid-container"
  [dataSource]="dataSource"
  [showBorders]="true"
  keyExpr="orderId"
  (onEditorPreparing)="onEditorPreparing($event)"
  (onSelectionChanged)="onSelectionChanged($event)"
  (onContentReady)="onContentReady($event)"
  [remoteOperations]="false"
>
  <dxo-data-grid-selection
    selectAllMode="allPages"
    showCheckBoxesMode="onClick"
    mode="multiple"
  ></dxo-data-grid-selection>

  <dxi-data-grid-column
    dataField="orderId"
    caption="Order ID"
    [width]="90"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="city"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="country"
    [width]="180"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="region"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="date" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="amount"
    format="currency"
    [width]="90"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="approved"
    [visible]="false"
  ></dxi-data-grid-column>
</dx-data-grid>
